@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Work Sans", sans-serif; } 

  *{ margin: 0; padding: 0;}


  /* Shared Styles */

.display-flex {
  display: flex;
}


.text-gray-dark02 {
  color: #424242;
}

.text-gray-dark03 {
  color: #727272;
}

.primary-btn {
  background-color: #FF900E;
  color: white;
  padding: 20px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  justify-content: center;
}








/* Header Styles */

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-bottom: 20px;
}

  /* Navbar Styles */
.navbar {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.brand-name {
  font-size: 3rem;
  font-weight: 700;
}
.nav-links {
  gap: 30px;
}
.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

/* Banner Styles */

.banner {
  max-width: 867px;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.banner-title{
  font-size: 4rem;
  font-weight: 700;

}


.banner-img {
  max-width: 1440px;
  margin: 40px auto;
}

/* Small Device Responsive */ 
@media screen and (max-width: 576px) {
  .brand-name {
    display: none;
  }
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .banner-img img {
    width: 100%;
  }
  .banner-title {
    font-size: 50px;
  }

}

/* Medium Device Responsive */
@media screen and (min-width:576px) and (max-width: 992px) {
  
  .brand-name {
    font-size: 30px;
  }

  .banner-title {
    font-size: 40px;
  } 
  .banner-img img {
    width: 100%;
  }
}